/* style sheet main */
body {
	margin: 0;
	padding: 0;
	font-family:  sans-serif;
	font-size: 14px;
}

div {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 3.5em;
	color: #00b200;
}

h1, p {
	text-align: center;
}

p.showGridSize {
	font-size: 1.5em;
}

.grid {
	float: left;
	background-color: #ff0000;
	display: inline-block;
}

#container, #controls {
	width: 640px;
	margin: 0 auto;
}

#container {
	height: 640px;
	position: relative;
	padding: 10px 0 30px;
}

#controls {
	height: 50px;
}

.hightlight {
	background-color: #000000;
}

button {
	width: 100px;
	height: 25px;
	margin: 0 auto	;
	display:  block;
	padding: 0 10px; 
}

